.login{
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center; 
}

 .loginWrapper{
   width: 70%;
   height: 70%;
   display: flex;
   /* background-color: yellow; */
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.loginLogo{
    font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc{
font-size: 24px;

}

.loginBox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
 height: 50px;
 border-radius: 10px;
 padding-left: 20px;
 font-size: 18px;
 border: 1px solid gray;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #1775ee;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
    width: 60%;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #42b72a;
    border: none;
    border-radius: 10px;
    align-self: center;
    font-size: 20px;
    cursor: pointer;
}