.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;

}

.rightbarOnline{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top:-5px;
    right:0;
    background-color: green;
    border:2px solid white;
}